@import url("../../reset/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap");

* {
  font-family: "Ibarra Real Nova", serif;
}

@media (max-width: 500px) {
  .main {
    overflow-y: scroll;
    height: 100vh;
  }

  .main::-webkit-scrollbar {
    width: 4px;
  }

  .main::-webkit-scrollbar-track {
    background: #002855;
  }

  .main::-webkit-scrollbar-thumb {
    background-color: #dcdfe5;
    width: 100%;
  }

  .user-main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #fafafa;
    height: 100vh;
  }

  .perfil {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
  }

  .icone-coroa {
    font-size: 4rem;
    color: #002855;
  }

  .icone {
    color: #002855;
    font-size: 7.5vw;
    margin-top: 0.5vh;
    margin-right: 1vh;
  }

  .nome-perfil {
    font-size: 7vw;
    margin-bottom: 10vh;
  }

  .principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
  }

  .dados-user {
    background-color: #002855;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }

  .dados-user .link-user {
    background-color: #dcdfe5;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
  }

  .dados-user p {
    color: #fafafa;
    font-size: 1.7rem;
    margin-left: 1vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 70%;
    text-align: left;
  }
}

@media (min-width: 500px) {
   .main {
    overflow-y: scroll;
    height: 100vh;
    margin: 0 auto;
    max-width: 100%;
  } 

  .main::-webkit-scrollbar {
    width: 4px;
  }

  .main::-webkit-scrollbar-track {
    background: #002855;
  }

  .main::-webkit-scrollbar-thumb {
    background-color: #dcdfe5;
    width: 100%;
  }

   .user-main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #fafafa;
    height: 100vh;
    min-height: max-content;
  } 

  .perfil {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
  }

  .icone-coroa {
    font-size: 4rem;
    color: #002855;
  }

  .icone {
    color: #002855;
    font-size: 7.5vw;
    margin-top: 0vh;
    /* margin-right: 1vh; */
  }

  .nome-perfil {
    font-size: 2rem;
    margin-bottom: 10vh;
  }

  .principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
    
  }

  .dados-user {
    background-color: #002855;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }

  .dados-user .link-user {
    background-color: #dcdfe5;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
  }

  .dados-user p {
    color: #fafafa;
    font-size: 1.7rem;
    margin-left: 1vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 70%;
    text-align: left;
  }
}
