@import url("../../reset/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap");

* {
  font-family: "Ibarra Real Nova", serif;
}

@media (max-width: 500px) {
  .pedidos-status {
    background: #002855;
    overflow-y: scroll;
    height: 90vh;
    color: #161616;
  }

  .pedidos-status::-webkit-scrollbar {
    width: 4px;
  }

  .pedidos-status::-webkit-scrollbar-track {
    background: #002855;
  }

  .pedidos-status::-webkit-scrollbar-thumb {
    background-color: #dcdfe5;
    width: 100%;
  }
}

@media (min-width: 500px) {
  .main {
    background-color: #002855;
  }
  .pedidos-status {
    height: 92vh;
  }
}
